<div class="alert alert-success">
    <h2 class = "alert-heading"><%= @post.title%></h2><br>
    <p><%=@post.contents%></p>
    <hr>
<small>작성자: <%= @post.user_id%></small>
</div>


<%= link_to "목록", "/" %>
<%= link_to "수정", "/board/#{@post.id}/edit" %>
<%= link_to "삭제", "/board/#{@post.id}" , method: "delete"%>
